<div class="container">
  <h1>Entrar</h1>


  <% if flash[:alert] %>
    <div class="alert alert-warning alert-dismissible" role="alert">
      <div><%= flash[:alert] %></div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <% if flash[:danger] %>
    <script>
      window.confirm("<%= flash[:danger] %>");
    </script>
  <% end %>

  <%= form_tag sessions_path do %>
    <div class="field">
      <%= label_tag 'Usuário' %><br />
      <%= text_field_tag :username, params[:username] %>
    </div>
    <div class="field">
      <%= label_tag "Senha" %><br />
      <%= password_field_tag :password %>
    </div>
    <%= hidden_field_tag :from_url, params[:previous_url] %>
    <div class="actions"><%= submit_tag "Entrar" %></div>
  <% end %>
  <br />
  <%= link_to "Voltar", :back %>
</div>