
<div class="container">
<br />
  <h1><%= @article.title %></h1>
  <% time = @article.created_at.time.in_time_zone("Brasilia") %>
  <% n_time = time.strftime("%d/%m/%Y %H:%M") %>
  <i>Por <%= @article.user.username %>, <%= @article.user.email %> - <%= n_time %></i>
  <div class="out">
    <div>
      
    </div>
    
    <div class="image">
      <% if @article.image.present? %>
        <img src="<%= (url_for(@article.image)) %>">
      <% end %>
    </div>
    <%= @article.content %>
  </div>

  <br />
  <br />
  <%= link_to "Voltar", :back %>
  <br />
  <br />
  </div>